h1
{
    text-align: center;
    font-style: oblique;
    color: black
}
p
{
    text-align:center;
    color:black;
}
body{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/pizza-neon-light-signage-1596888.jpg);
}

    
