h1
{
    text-align: center;
    font-style: oblique;
    color:red
}
h2
{
    text-align: center;
    color: white;

}
body{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/photo-of-pizza-1788852.jpg);
    enable-background: inherit; 
    text-align: center;
}
h3
{
    text-align: center;
    color: white;
    font-style: initial;
    
} 
h4
{
    text-align: center;
    color: springgreen;
}
li
{
    text-align: center;
    color: ivory;
    list-style-type: lower-roman;
    place-items: center;
    list-style: none;
}
.mia1{
    color: red;
    text-align: center;
}
.mia2{
    color:maroon;
    text-align: center;
}
.mia3{
    text-align: center;
    color: red
}
.mia4{
    text-align: center;
    color: black
}
.mia5{
    text-align: center;
    color: red;
}
.mia6{
    text-align: center;
    color: brown;
}
.mia7{
    text-align: center;
    color: orangered;
}
.cbr1{
    text-align: center;
    color: red;
}
.don1 option{
    text-align: center;
    margin-left: 100%;
    display: block;
}
.ric1{
    color: blue;
}
h5
{
    font-style: bold;
    color: white;
}
#radio{
color: white;
}